<link rel="stylesheet" href="header.css">

<div class="cards">
  <div class="card red">
    <a href="/">
      <p class="tip">All Rectangle</p>
    </a>
  </div>
  <div class="card red">
    <a href="create-rect">
      <p class="tip">Create Rectangle</p>
    </a>
  </div>
</div>