<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="try-again.css">
        <title>Try Again</title>
    </head>

    <body>
        <div class="title">
            <a class="btn-shine">Try Again !!</a>
        </div>
        <div class="title">
            <a class="btn-shine">It's Not OverLap</a>
        </div>

        <div class="try-detail">
            <div class="ðŸ¤š">
                <div class="ðŸ‘‰"></div>
                <div class="ðŸ‘‰"></div>
                <div class="ðŸ‘‰"></div>
                <div class="ðŸ‘‰"></div>
                <div class="ðŸŒ´"></div>
                <div class="ðŸ‘"></div>
            </div>
        </div>

        <div class="try-btn">
            <a href="create-rect">
                <button class="glowbutton">Try Again</button>
            </a>
        </div>




    </body>

</html>